What is pandas?

Pandas is an open-source Python library that provides powerful, flexible and high-performance tools to process data. It was developed in 2008 by Wes McKinney.

Some of its key features are as follows:

- Provides high-performance DataFrame objects with effective indexing.
- Provides tools for loading data into memory with multiple file formats.
- Provides high performance for operations such as data merges and joins.
- Supports manipulation of time series data.
- Easy to manipulate row and column data.
- Supports SQL-like operations.
- Supports vectorized operations.
- Provides label-based slicing, indexing, and subsetting of large data sets.

- How to manipulate Tabular data.
- Aggregation data on multiple dimensions.
- SQL-like data join, group, and sort.
- Powerful data filtering.
- I/O of multiple file formats.
- Extensive type support, such as int, float, string, and datetime.
- Advanced usage of pandas, such as memory usage reduction, sped up file loading and sped up operations.

### Datastructures in Pandas
- Series
- DataFrame

### Series
Its a one dimensional array consisting of elements with multiple data types.

can create a series from:

- A Python dictionary or list.
- A Numpy ndarray.
- A scalar value.

### DataFrame
DataFrame is a two-dimensional data structure with columns of different types. You can think of it like an MS Excel or SQL table, or a dictionary of series type objects.

Pandas provides many APIs to manipulate the data frame objects using slices, indexing, aggregation, and statistical operations.

You can create a DataFrame from:

- Dictionary of lists and dictionary of Series.
- CSV, TSV, or MS Excel.

#### Create a Series from a list without an index

In [1]:
import pandas as pd 

li = range(1,10)
se = pd.Series(li)
print(se)
print(se[3])

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
4

#### Create a Series from a list with a specified index

In [2]:
l = range(1, 6)
# l is [1, 2, 3, 4, 5]
idx = ["aa", "bb", "ccc", "dddd", "eeeeee"]
s = pd.Series(l, idx)
print(s)
print("------------------")
i = "ccc"
print("the index {} -> value is {}".format(i, s[i]))

aa        1
bb        2
ccc       3
dddd      4
eeeeee    5
dtype: int64
------------------
the index ccc -> value is 3

#### Create a Series from a Python dict

In [3]:
d = {'bb': 1, 'a': 0, 'ccc': 2}
s = pd.Series(d)
print(s)
print("------------------")
i = "ccc"
print("the index {} -> value is {}".format(i, s[i]))

bb     1
a      0
ccc    2
dtype: int64
------------------
the index ccc -> value is 2

### Create a Series from a Numpy ndarray

In [4]:
import pandas as pd
import numpy as np

l = np.arange(1, 10)
print(type(l))
print("----------------------------")
s = pd.Series(l)
print(s)
i = 3
print("the index {} -> value is {}".format(i, s[3]))

<class 'numpy.ndarray'>
----------------------------
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32
the index 3 -> value is 4

#### Create a Series from a scalar value

In [5]:
s = pd.Series(3)
print(s)
print("----------------------------")
s = pd.Series(3, index=range(1,4))
print(s)

0    3
dtype: int64
----------------------------
1    3
2    3
3    3
dtype: int64

## Manipulating Series Objects

In [6]:
import pandas as pd

s = pd.Series(range(1, 20))
# integer index
print("The second value of s is {}".format(s[1]))
print("-----------------")
# tuple index
print("The second and sixth value of s is {}".format(s[[1, 5]].values))
print("-----------------")
# to the end elements
print("All elements of s from the sixth index onwards are {}".format(s[5:].values))
print("-----------------")
# [start:stop:step]
print("All elements of s from index=1 to the index=10"
      "with step=2 onwards are {}".format(s[1:10:2].values))
print("-----------------")

The second value of s is 2
-----------------
The second and sixth value of s is [2 6]
-----------------
All elements of s from the sixth index onwards are [ 6  7  8  9 10 11 12 13 14 15 16 17 18 19]
-----------------
All elements of s from index=1 to the index=10with step=2 onwards are [ 2  4  6  8 10]
-----------------

### Advanced slicing
It can be used if you want to pick up elements from a series without knowing their exact position or value

In [7]:
s = pd.Series(range(1, 20))
# get all even number
s1 = s[s%2==0]
print("All even number in the series are {}".format(s1.values))
print("-----------------")
s2 = s[s>8]
print("All numbers which is larger than 8 in the series are {}".format(s2.values))
print("-----------------")
s3 = s[s > s.mean()]
print("All numbesr which is larger than the mean of the series"
      " in this series are {}".format(s3.values))
print("-----------------")

All even number in the series are [ 2  4  6  8 10 12 14 16 18]
-----------------
All numbers which is larger than 8 in the series are [ 9 10 11 12 13 14 15 16 17 18 19]
-----------------
All numbesr which is larger than the mean of the series in this series are [11 12 13 14 15 16 17 18 19]
-----------------

### Creating a DataFrame From Arrays and Lists
- Create a DataFrame from a Numpy ndarray
- Create a DataFrame from a dictionary of lists

In [8]:
# Create a DataFrame from a Numpy ndarray

d = np.random.normal(size=(2,3))
print("The original Numpy array")
print(d)
print("---------------------")

s = pd.DataFrame(d)
print("The DataFrame ")
print(s)

The original Numpy array
[[ 0.58910041 -1.25899478  0.63454806]
 [-0.62668169 -1.17976927  0.60925955]]
---------------------
The DataFrame
          0         1         2
0  0.589100 -1.258995  0.634548
1 -0.626682 -1.179769  0.609260

In [9]:
# Create a DataFrame from a dictionary of lists

# example 1: init a dataframe by dict without index
d = {"a": [1, 2, 3, 4], "b": [2, 4, 6, 8]}
df = pd.DataFrame(d)
print("The DataFrame ")
print(df)
print("---------------------")
print("The values of column a are {}".format(df["a"].values))

# example 2: init a dataframe by dict with different index
d = {"a": {"a1":1, "a2":2, "c":3}, "b":{"b1":2, "b2":4, "c":9}}
df = pd.DataFrame(d)
print("The DataFrame ")
print(df)

The DataFrame
   a  b
0  1  2
1  2  4
2  3  6
3  4  8
---------------------
The values of column a are [1 2 3 4]
The DataFrame
      a    b
a1  1.0  NaN
a2  2.0  NaN
c   3.0  9.0
b1  NaN  2.0
b2  NaN  4.0

### Creating a DataFrame From a Series

In [10]:
# Create a DataFrame from a dictionary of series

s = {"a": pd.Series(range(1,3)), "b": pd.Series(range(2,4))}
df = pd.DataFrame(s)
print("DataFrame created from a dictionary of series: {}".format(df))

# example 2: series with index
s = {
    "a": pd.Series(range(1, 3), index=["a", "b"]),
    "b": pd.Series(range(2, 4), index=["b", "c"])
}
df = pd.DataFrame(s)
print("dataframe created from dict of series with index")
print(df)

DataFrame created from a dictionary of series:    a  b
0  1  2
1  2  3
dataframe created from dict of series with index
     a    b
a  1.0  NaN
b  2.0  2.0
c  NaN  3.0

## Indexing and Slicing

Operation on the whole DataFrame#

How do you calculate the mean of the entire DataFrame?

In [11]:
# create a matrix, the size is 10*3
d = {"a":range(1, 10), "b": range(11,20), "c": range(21,30)}
df = pd.DataFrame(d)

# option 1: convert DataFrame to a single column
print("The sum of the whole DataFrame is {}".format(df.stack().sum()))
print("---------------------------")
# option 2: use Numpy function on DataFrame property values
print("The sum of the whole DataFrame is {}".format(np.sum(df.values)))

The sum of the whole DataFrame is 405
---------------------------
The sum of the whole DataFrame is 405

## Concatenation
- append() with same column
- append() with different column
- concat with outer join
- concat with inner join
- Comparison with SQL join

In [12]:
# append() with same column
d1 = {"a": [1, 2], "b": [2, 4]}
df1 = pd.DataFrame(d1)
print("The first DataFrame")
print(df1)
print("------------------------")
d2 = {"a": [3, 4], "b": [6, 8]}
df2 = pd.DataFrame(d2)
print("The second DataFrame")
print(df2)
print("------------------------")

df1 = df1.append(df2)
print("Append the second DataFrame to the first one")
print(df1)

print("Append the second DataFrame to the first one and set ignore_index=True")
df1 = df1.append(df2, ignore_index=True)
print(df1)

The first DataFrame
   a  b
0  1  2
1  2  4
------------------------
The second DataFrame
   a  b
0  3  6
1  4  8
------------------------
Append the second DataFrame to the first one
   a  b
0  1  2
1  2  4
0  3  6
1  4  8
Append the second DataFrame to the first one and set ignore_index=True
   a  b
0  1  2
1  2  4
2  3  6
3  4  8
4  3  6
5  4  8

In [13]:
# append() with different column
d1 = {"b": [1, 2], "c": [2, 4]}
df1 = pd.DataFrame(d1)
print("The first DataFrame")
print(df1)
print("------------------------")
d2 = {"c": [3, 4], "d": [6, 8]}
df2 = pd.DataFrame(d2)
print("The second DataFrame")
print(df2)
df2 = pd.DataFrame(d2)
print("------------------------")

df1 = df1.append(df2)
print("Append the second DataFrame to the first one")
print(df1)

The first DataFrame
   b  c
0  1  2
1  2  4
------------------------
The second DataFrame
   c  d
0  3  6
1  4  8
------------------------
Append the second DataFrame to the first one
     b  c    d
0  1.0  2  NaN
1  2.0  4  NaN
0  NaN  3  6.0
1  NaN  4  8.0

In [14]:
# concat with outer join
d1 = {"a": [1, 2], "b": [2, 4]}
df1 = pd.DataFrame(d1, index=[1, 2])
print("The first DataFrame")
print(df1)
print("------------------------")
d2 = {"c": [3, 4], "d": [6, 8]}
df2 = pd.DataFrame(d2, index=[2, 3])
print("The second DataFrame")
print(df2)
print("------------------------")
print("The outer join DataFrame")
df3 = pd.concat([df1, df2], axis=1)
print(df3)

The first DataFrame
   a  b
1  1  2
2  2  4
------------------------
The second DataFrame
   c  d
2  3  6
3  4  8
------------------------
The outer join DataFrame
     a    b    c    d
1  1.0  2.0  NaN  NaN
2  2.0  4.0  3.0  6.0
3  NaN  NaN  4.0  8.0

In [15]:
# concat with inner join
d1 = {"a": [1, 2], "b": [2, 4]}
df1 = pd.DataFrame(d1, index=[1, 2])
print("The first DataFrame")
print(df1)
print("------------------------")
d2 = {"c": [3, 4], "d": [6, 8]}
df2 = pd.DataFrame(d2, index=[2, 3])
print("The second DataFrame")
print(df2)
print("------------------------")
print("The inner join DataFrame")
df3 = pd.concat([df1, df2], axis=1, join="inner")
print(df3)

The first DataFrame
   a  b
1  1  2
2  2  4
------------------------
The second DataFrame
   c  d
2  3  6
3  4  8
------------------------
The inner join DataFrame
   a  b  c  d
2  2  4  3  6

## Grouping Data
- Group by one column
- Group by multiple columns
- Get the group items
- Get a single group

In [16]:
f = open("C:/Users/Nirali/sample1.csv", 'w')

In [17]:
import csv

header = ['name','price','width','category']
data = [['cat','102','2.3','A'],
        ['dog','34','7.8','A'],
        ['cat','125','8.9','B'],
        ['dog','45','3.3','A'],
        ['cat','212','3.0','B'],
        ['dog','67','8.1','B'],
        ['cat','102','2.3','A'],
        ['dog','34','7.8','B'],
        ['cat','125','8.9','B'],
        ['dog','45','3.3','A'],
        ['cat','212','3.0','B'],
        ['dog','67','8.1','A']
       ]

with open("C:/Users/Nirali/sample1.csv", 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerows(data)

In [18]:
df = pd.read_csv('C:/Users/Nirali/sample1.csv', sep=",")
result = df.groupby('name').sum()
print(result)

      price  width
name
cat     878   28.4
dog     292   38.4

In [19]:
# group by multiple cols
df = pd.read_csv("sample1.csv", sep=",")
result = df.groupby(["name", "category"]).sum()
print("Group by \"name\" and \"category\" column and sum them")
print("-------------------------------------")
print(result)

Group by "name" and "category" column and sum them
-------------------------------------
               price  width
name category
cat  A           204    4.6
     B           674   23.8
dog  A           191   22.5
     B           101   15.9

In [20]:
#The attribute groups is a dictionary whose keys are the unique group names 
#and the corresponding values are the axis labels for each group item.

df = pd.read_csv("sample1.csv", sep=",")
g = df.groupby("name").groups
print(g)

{'cat': [0, 2, 4, 6, 8, 10], 'dog': [1, 3, 5, 7, 9, 11]}

In [21]:
df = pd.read_csv("sample1.csv", sep=",")
g1 = df.groupby("name")
print("Get the \"cat\" group")
print(g1.get_group("cat"))

Get the "cat" group
   name  price  width category
0   cat    102    2.3        A
2   cat    125    8.9        B
4   cat    212    3.0        B
6   cat    102    2.3        A
8   cat    125    8.9        B
10  cat    212    3.0        B

#### Aggregate

In [22]:
df = pd.read_csv("sample1.csv", sep=",")
g = df.groupby('name')
print(g['price'].agg(np.sum))

# aggregate on multiple functions
print("calculate the sum/mean/std for name group price column")
print(g["price"].agg([np.sum, np.mean, np.std]))

# nth element
print("Return the third element from each group")
print(g.nth(3))

name
cat    878
dog    292
Name: price, dtype: int64
calculate the sum/mean/std for name group price column
      sum        mean        std
name
cat   878  146.333333  51.894765
dog   292   48.666667  15.028861
Return the third element from each group
      price  width category
name
cat     102    2.3        A
dog      34    7.8        B

### Deletion in a DataFrame

In [29]:
# Drop row by row number

d = {"a": [1, 2, 3], "b": [2, 4, 6], "c": [3, 6, 9]}
df = pd.DataFrame(d, index=["cat", "dog", "bird"])
print("The original df has 3 rows and 3 columns, "
      "the size is {}".format(df.shape))
print(df)
print("------------------------------------------")
print("delete the second row which index number is 1, left two rows")
df.drop(df.index[1])

# Delete a column
d = {"a": [1, 2, 3], "b": [2, 4, 6], "c": [3, 6, 9]}
df = pd.DataFrame(d, index=["cat", "dog", "bird"])
print("delete the column with the name \"a\", only left two columns")
df = df.drop('a', axis=1)
print(df)

The original df has 3 rows and 3 columns, the size is (3, 3)
      a  b  c
cat   1  2  3
dog   2  4  6
bird  3  6  9
------------------------------------------
delete the second row which index number is 1, left two rows
delete the column with the name "a", only left two columns
      b  c
cat   2  3
dog   4  6
bird  6  9

### Select Data From DataFrame

In [32]:
# select using []
d = {"a": ["a", "b", "c", "d"], "b": [1, 2, 3, 4]}
df = pd.DataFrame(d)
print("The original dataframe object")
print(df)
df_filter = df[df.a == "c"]
print("select the rows whose \"a\" column is equal to \"c\"")
print(df_filter)

# select by query
d = {"col1": ["a", "b", "c", "d", "a"],
     "col2": [1, 2, 3, 4, 2]}
df = pd.DataFrame(d)
print("The original dataframe object.")
print(df)
df_filter = df.query('col1 == "a"')
print(df_filter)
print("----------------------------")
df_filter = df.query('col1 == "a" & col2 == 1')
print(df_filter)
print("----------------------------")
df_filter = df.query('col1 in ["a", "b", "c"]')
print(df_filter)
print("----------------------------")

The original dataframe object
   a  b
0  a  1
1  b  2
2  c  3
3  d  4
select the rows whose "a" column is equal to "c"
   a  b
2  c  3
The original dataframe object.
  col1  col2
0    a     1
1    b     2
2    c     3
3    d     4
4    a     2
  col1  col2
0    a     1
4    a     2
----------------------------
  col1  col2
0    a     1
----------------------------
  col1  col2
0    a     1
1    b     2
2    c     3
4    a     2
----------------------------

### Sorting a DataFrame
- Sort DataFrame by index
- Sort DataFrame by values
- N largest/smallest value
- Stable sort

In [43]:
#Sort DataFrame by index
df = pd.DataFrame(np.random.randn(4,2), index=[3,1,0,2], columns = ['c1','c2'])
sorted_df = df.sort_index()
print(sorted_df)

# Sort DataFrame by values
sorted_df_by_val = df.sort_values(by='c1')
print(sorted_df_by_val)

# N largest/smallest value
result1 = df.nlargest(2, "c1")
result2 = df.nsmallest(3, "c1")

print(result1)
print(result2)

         c1        c2
0 -1.102006 -0.129547
1 -0.598566  0.639370
2  0.825798  1.775960
3  0.018924  0.024648
         c1        c2
0 -1.102006 -0.129547
1 -0.598566  0.639370
3  0.018924  0.024648
2  0.825798  1.775960
         c1        c2
2  0.825798  1.775960
3  0.018924  0.024648
         c1        c2
0 -1.102006 -0.129547
1 -0.598566  0.639370
3  0.018924  0.024648

### Apply Function to a DataFrame

In [49]:
d = {"a": [1,2,3,4],"b":[2,3,4,5],"c":[3,4,5,6]}
df = pd.DataFrame(d)
df["a_times_two"] = df["a"].apply(lambda s:s*2)

# Apply on multiple columns
df["a_plus_b"] = df.apply(lambda row:row.a + row.b, axis=1)

# Add a column directly
df["a_square"] = df["a"]**2
df

   a  b  c  a_times_two  a_plus_b  a_square
0  1  2  3            2         3         1
1  2  3  4            4         5         4
2  3  4  5            6         7         9
3  4  5  6            8         9        16

### Iteration Data in DataFrame
- iterrows()
- iteritems()
- itertuples()

DataFrame has a function, iterrows(), which iterates over the rows as (index, series) pairs.

iteritems() goes over each column as (key, value) pairs. In other words, in this iteration, you get a pair where the key is the column name(label) and the value is the corresponding column, which is a Series type.

itertuples() This yields a named tuple for each row in DataFrame. The first element of this tuple is the index and the remaining values are corresponding columns.

In [54]:
#iterrows 

d = {"a":[1,2,3,4,5],"b":[2,3,4,5,6]}
df = pd.DataFrame(d)

for index, row in df.iterrows():
    print("Index {} and row {}".format(index,row))
 
#iteritems

for k, v in df.iteritems():
    print("The column name {}, the corresponding value {}".format(k,v.values))

#itertuples
for r in df.itertuples():
    print("The row index is {}, the column a value is {}, "
          "the column b value is {}".format(r.Index, r.a, r.b))

Index 0 and row a    1
b    2
Name: 0, dtype: int64
Index 1 and row a    2
b    3
Name: 1, dtype: int64
Index 2 and row a    3
b    4
Name: 2, dtype: int64
Index 3 and row a    4
b    5
Name: 3, dtype: int64
Index 4 and row a    5
b    6
Name: 4, dtype: int64
The column name a, the corresponding value [1 2 3 4 5]
The column name b, the corresponding value [2 3 4 5 6]
The row index is 0, the column a value is 1, the column b value is 2
The row index is 1, the column a value is 2, the column b value is 3
The row index is 2, the column a value is 3, the column b value is 4
The row index is 3, the column a value is 4, the column b value is 5
The row index is 4, the column a value is 5, the column b value is 6